@page "/manageAccount"
@using MudBlazor
@using ExpenseTrackerPro.Application.Features.Accounts
@using MediatR
@inject IMediator mediator
@inject IDialogService _dialogService

<PageTitle>Manage Account</PageTitle>

<MudTable ServerData="@(new Func<TableState, Task<TableData<GetAccountResponse>>>(ServerReload))"
          Dense="true" Hover="true" @ref="table" RowsPerPage="20">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Manage Account</MudText>
         <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <div class="justify-center mud-text-align-center">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => InvokeModal(0))">Create</MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" Color="Color.Secondary">Reload</MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="accountTypeName" T="GetAccountResponse">Account Type Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="institutionName" T="GetAccountResponse">Institution Name</MudTableSortLabel></MudTh>
        <MudTh>Currency Symbol</MudTh>
        <MudTh><MudTableSortLabel SortLabel="accountName" T="GetAccountResponse">Account Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="accountNumber" T="GetAccountResponse">Account Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="balance" T="GetAccountResponse">Balance</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="AccountTypeName">@context.AccountTypeName</MudTd>
         <MudTd DataLabel="InstitutionName">@context.InstitutionName</MudTd>
         <MudTd DataLabel="Name">@context.Name</MudTd>
         <MudTd DataLabel="AccountNumber">@context.AccountNumber</MudTd>
         <MudTd DataLabel="Balance">@context.Balance</MudTd>
     </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>