@page "/ManageAccount"
@using ExpenseTrackerPro.Application.Features.Accounts
@using ExpenseTrackerPro.Shared.Enums
@using MudBlazor
@using MediatR
@inject IMediator _mediator
@inject IDialogService _dialogService
@inject ISnackbar _snackBar
@inject NavigationManager NavManager

<PageTitle>Manage Account</PageTitle>

<MudTable ServerData="@(new Func<TableState, Task<TableData<GetAccountResponse>>>(ServerReload))"
          GroupBy="@_groupDefinition"  Dense="true" Hover="true" @ref="table" RowsPerPage="20" Breakpoint="Breakpoint.Sm">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Manage Account</MudText>
         <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>  
        <MudSpacer />
        <div class="d-flex justify-content-between mud-text-align-right">
            <MudButton Variant="Variant.Filled" @onclick="@(() => InvokeModal(0))" Color="Color.Primary" StartIcon="@Icons.Filled.Add"></MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" Color="Color.Error" StartIcon="@Icons.Filled.Refresh"></MudButton>
        </div>
     </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="accountTypeName" T="GetAccountResponse"></MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="institutionName" T="GetAccountResponse">Institution</MudTableSortLabel></MudTh>      
        <MudTh><MudTableSortLabel SortLabel="accountName" T="GetAccountResponse">Account</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="accountNumber" T="GetAccountResponse">Account Number</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="balance" T="GetAccountResponse">Balance</MudTableSortLabel></MudTh>
        <MudTh Style="text-align:right">Actions</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group wd-99" colspan="10"><h6>@($"{context.GroupName}: {context.Key}")</h6></MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Account Type">
            <MudImage Src="@(ImageLocation.AccountType.ToString() + context.AccountTypeImageUrl)"
                      Alt="@context.Name" Elevation="25" Class="rounded-sm me-3" Height="@(ImageHeight)" Width="@(ImageWidth)" />
        </MudTd>      
         <MudTd DataLabel="Institution">
            <MudImage Src="@(ImageLocation.Institution.ToString() + context.InstitutionImageUrl)"
                      Alt="@context.Name" Elevation="25" Class="rounded-sm me-3" Height="@(ImageHeight)" Width="@(ImageWidth)" />
            <span class="d-none d-md-inline">@context.InstitutionName</span>
        </MudTd>
        <MudTd DataLabel="Account">@context.Name</MudTd>
        <MudTd DataLabel="Account Number">@context.AccountNumber</MudTd>   
        <MudTd DataLabel="Balance">@context.CurrencySymbol @context.Balance.ToString("#,###.00")</MudTd>
         <MudTd DataLabel="Actions" Style="text-align: right">
            <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown"
                     IconColor="Color.Secondary" AnchorOrigin="Origin.BottomCenter">
                    <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))" Icon="@Icons.Filled.Edit">Edit</MudMenuItem>
                    <MudMenuItem @onclick="@(() => Delete(@context.Id))" Icon="@Icons.Filled.DeleteForever">Delete</MudMenuItem>
                    <MudMenuItem @onclick="@(() => ViewAccount(@context.Id))" Icon="@Icons.Filled.GridView">View</MudMenuItem>
            </MudMenu>  
        </MudTd>
     </RowTemplate>
    <GroupFooterTemplate>
        <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer wd-99" colspan="10"></MudTh>
    </GroupFooterTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>