@page "/CurrencyOverview"
@using ExpenseTrackerPro.Application.Features.Currencies
@using MediatR
@inject IMediator mediator
<PageTitle>Currency Overview</PageTitle>

<MudTable ServerData="@(new Func<TableState, Task<TableData<GetCurrencyResponse>>>(ServerReload))"
          Dense="false" Hover="true" @ref="table" RowsPerPage="20">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Currency Overview</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Class="wd-10">Symbol</MudTh>
        <MudTh><MudTableSortLabel SortLabel="countryCurrency" T="GetCurrencyResponse">Country and Currency</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="code" T="GetCurrencyResponse">Currency Code</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd><div class="currency-icon">@context.Symbol</div></MudTd>
        <MudTd DataLabel="CountryCurrency">@context.CountryCurrency</MudTd>
        <MudTd DataLabel="Code">@context.Code</MudTd>
     </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
