@page "/ManageExpense"
@using ExpenseTrackerPro.Application.Features.Expenses
@using ExpenseTrackerPro.Shared.Enums
@using MudBlazor
@using MediatR
@inject IMediator _mediator
@inject IDialogService _dialogService
@inject ISnackbar _snackBar

<PageTitle>Manage Expense</PageTitle>

<MudTable ServerData="@(new Func<TableState, Task<TableData<GetExpenseResponse>>>(ServerReload))"
          GroupBy="@_groupDefinition" Dense="true" Hover="true" @ref="table" RowsPerPage="20">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Manage Expense</MudText>
        <MudSpacer />
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <div class="justify-center mud-text-align-right">
            <MudButton Variant="Variant.Filled" @onclick="@(() => InvokeModal(0))" Color="Color.Primary" StartIcon="@Icons.Filled.Add"></MudButton>
            <MudButton Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" Color="Color.Error" StartIcon="@Icons.Filled.Refresh"></MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="accountName" T="GetExpenseResponse">Account</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="categoryName" T="GetExpenseResponse">Category</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="provider" T="GetExpenseResponse">Biller / Provider</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="amount" T="GetExpenseResponse">Amount</MudTableSortLabel></MudTh>
        <MudTh Class="ta-r">Actions</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group wd-99" colspan="10"><h6>@($"{context.GroupName}: {context.Key}")</h6></MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Account">
            <MudImage Src="@(ImageLocation.Institution.ToString() + context.InstitutionImageUrl)"
                      Alt="@context.AccountName" Elevation="25" Class="rounded-sm me-3" Height="@(ImageHeight)" Width="@(ImageWidth)" />
            @context.AccountName
         </MudTd>
        <MudTd DataLabel="Category">
            <MudImage Src="@(ImageLocation.Category.ToString() + context.CategoryImageUrl)"
                      Alt="@context.CategoryName" Elevation="25" Class="rounded-sm me-3" Height="@(ImageHeight)" Width="@(ImageWidth)" />
            @context.CategoryName
         </MudTd>
        <MudTd DataLabel="Provider">@context.Provider</MudTd>
        <MudTd DataLabel="Amount"><span>@context.CurrencySymbol @context.Amount.ToString("#,###.00")</span></MudTd>
        <MudTd DataLabel="Actions" Class="ta-r">
            <MudMenu Label="Actions" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown"
                        IconColor="Color.Secondary" AnchorOrigin="Origin.BottomCenter">
                <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))" Icon="@Icons.Filled.Edit">Edit</MudMenuItem>
                <MudMenuItem @onclick="@(() => Delete(@context.Id))" Icon="@Icons.Filled.DeleteForever">Delete</MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
    <GroupFooterTemplate>
        <MudTh Class="mud-table-cell-custom-group mud-table-cell-custom-group-footer wd-99" colspan="10">Total Per Day : @context.Items.Sum((e) => e.Amount).ToString("#,###.00")</MudTh>
    </GroupFooterTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>